<h1><%= @meetup.name %></h1>
<h2>Description:</h2> <%= @meetup.description %>
<h3>Where?</h3><%= @meetup.location %>

<div class="add-participant">
  <h3>Wanna Join?!</h3>
  <form action="/meetups/<%= @meetup.id  %>" method="post">
    <input type="submit" name="join" id="join" value="join" />
  </form>
</div>

<h3>Look who's already joining!</h3>
<ul>
  <% @participants.each do |participant| %>
    <li>
      <img src="<% participant.user.avatar_url %>">
      <%= participant.user.username  %>
    </li>
  <% end %>
</ul>
